@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

@theme {
  --color-gold: #b8860b;
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --font-heading: "Playfair Display", serif;
  --font-body: "Lora", serif;
}
